<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cl_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1026,625}</string>
                <key>spriteSourceSize</key>
                <string>{1026,625}</string>
                <key>textureRect</key>
                <string>{{1,1},{1026,625}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cl_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,41}</string>
                <key>spriteSourceSize</key>
                <string>{160,41}</string>
                <key>textureRect</key>
                <string>{{1656,803},{160,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dolelogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,800}</string>
                <key>spriteSourceSize</key>
                <string>{800,800}</string>
                <key>textureRect</key>
                <string>{{1029,1},{800,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gy_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1026,625}</string>
                <key>spriteSourceSize</key>
                <string>{1026,625}</string>
                <key>textureRect</key>
                <string>{{1,628},{1026,625}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gy_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,41}</string>
                <key>spriteSourceSize</key>
                <string>{160,41}</string>
                <key>textureRect</key>
                <string>{{1656,846},{160,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1026,625}</string>
                <key>spriteSourceSize</key>
                <string>{1026,625}</string>
                <key>textureRect</key>
                <string>{{1,1255},{1026,625}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,41}</string>
                <key>spriteSourceSize</key>
                <string>{160,41}</string>
                <key>textureRect</key>
                <string>{{1656,889},{160,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xy_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1026,625}</string>
                <key>spriteSourceSize</key>
                <string>{1026,625}</string>
                <key>textureRect</key>
                <string>{{1029,803},{1026,625}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xy_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,41}</string>
                <key>spriteSourceSize</key>
                <string>{160,41}</string>
                <key>textureRect</key>
                <string>{{1656,932},{160,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setting_down.png</string>
            <key>size</key>
            <string>{1830,1881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03677924c00fcd3f0eeabf2b99b454a0:0a0447deea13e0784c20a660c6acdc54:4b36e9c0c3e071df9bb3f90ffe91fdb8$</string>
            <key>textureFileName</key>
            <string>setting_down.png</string>
        </dict>
    </dict>
</plist>
