<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_4-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-38}</string>
                <key>spriteSize</key>
                <string>{254,48}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-32}</string>
                <key>spriteSize</key>
                <string>{168,50}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{1,51},{168,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_4-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{130,114}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{1,195},{130,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_4-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{126,108}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{1,427},{126,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_4-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{129,453},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_4-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-24}</string>
                <key>spriteSize</key>
                <string>{126,68}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{1,537},{126,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{126,56}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{129,559},{126,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expression_4-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{171,51},{86,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>expression_4-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{88,120}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{133,251},{88,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>expression_4-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{90,132}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{1,103},{90,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>expression_4-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{110,126}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{129,341},{110,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>expression_4-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{110,124}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{1,607},{110,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>expression_4-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{135,139},{110,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>expression_4-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{262,152}</string>
                <key>textureRect</key>
                <string>{{1,311},{126,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cheer.png</string>
            <key>size</key>
            <string>{256,718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f407f87bd5f3de86fc69d7664504da00:8538b26429cb37f190dd068df8b434d8:0ca50ac8644ee24c357ece5783986753$</string>
            <key>textureFileName</key>
            <string>cheer.png</string>
        </dict>
    </dict>
</plist>
