<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,68}</string>
                <key>spriteSourceSize</key>
                <string>{51,68}</string>
                <key>textureRect</key>
                <string>{{943,629},{51,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-28}</string>
                <key>spriteSize</key>
                <string>{109,114}</string>
                <key>spriteSourceSize</key>
                <string>{487,320}</string>
                <key>textureRect</key>
                <string>{{720,1106},{109,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{475,312}</string>
                <key>spriteSourceSize</key>
                <string>{487,320}</string>
                <key>textureRect</key>
                <string>{{629,629},{475,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{359,234}</string>
                <key>spriteSourceSize</key>
                <string>{487,320}</string>
                <key>textureRect</key>
                <string>{{484,1110},{359,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{481,312}</string>
                <key>spriteSourceSize</key>
                <string>{487,320}</string>
                <key>textureRect</key>
                <string>{{1,629},{481,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{487,312}</string>
                <key>spriteSourceSize</key>
                <string>{487,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{487,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{487,312}</string>
                <key>spriteSourceSize</key>
                <string>{487,320}</string>
                <key>textureRect</key>
                <string>{{490,1},{487,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{485,312}</string>
                <key>spriteSourceSize</key>
                <string>{487,320}</string>
                <key>textureRect</key>
                <string>{{1,315},{485,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{485,312}</string>
                <key>spriteSourceSize</key>
                <string>{487,320}</string>
                <key>textureRect</key>
                <string>{{488,315},{485,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{481,312}</string>
                <key>spriteSourceSize</key>
                <string>{487,320}</string>
                <key>textureRect</key>
                <string>{{1,1112},{481,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{479,312}</string>
                <key>spriteSourceSize</key>
                <string>{487,320}</string>
                <key>textureRect</key>
                <string>{{315,629},{479,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{720,1397},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{59,69}</string>
                <key>spriteSourceSize</key>
                <string>{85,105}</string>
                <key>textureRect</key>
                <string>{{935,1276},{59,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,101}</string>
                <key>spriteSourceSize</key>
                <string>{85,105}</string>
                <key>textureRect</key>
                <string>{{720,1217},{83,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,105}</string>
                <key>spriteSourceSize</key>
                <string>{85,105}</string>
                <key>textureRect</key>
                <string>{{836,1106},{85,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,103}</string>
                <key>spriteSourceSize</key>
                <string>{85,105}</string>
                <key>textureRect</key>
                <string>{{836,1193},{81,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,93}</string>
                <key>spriteSourceSize</key>
                <string>{85,105}</string>
                <key>textureRect</key>
                <string>{{720,1302},{71,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,91}</string>
                <key>spriteSourceSize</key>
                <string>{85,105}</string>
                <key>textureRect</key>
                <string>{{778,1397},{71,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,91}</string>
                <key>spriteSourceSize</key>
                <string>{85,105}</string>
                <key>textureRect</key>
                <string>{{793,1302},{69,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,91}</string>
                <key>spriteSourceSize</key>
                <string>{85,105}</string>
                <key>textureRect</key>
                <string>{{864,1276},{69,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,91}</string>
                <key>spriteSourceSize</key>
                <string>{85,105}</string>
                <key>textureRect</key>
                <string>{{871,1369},{65,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eggs.png</string>
            <key>size</key>
            <string>{995,1470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5396b9158f31e572daaa0106ee25b3f7:0c33c616ad1b3511da588c3a4ed5c4bf:4f2010132fb1e5615c66b76366972e19$</string>
            <key>textureFileName</key>
            <string>eggs.png</string>
        </dict>
    </dict>
</plist>
