<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{54,104}</string>
                <key>spriteSourceSize</key>
                <string>{54,112}</string>
                <key>textureRect</key>
                <string>{{189,1194},{54,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{160,121}</string>
                <key>spriteSourceSize</key>
                <string>{238,185}</string>
                <key>textureRect</key>
                <string>{{1,1556},{160,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{238,185}</string>
                <key>textureRect</key>
                <string>{{1,1387},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{192,163}</string>
                <key>spriteSourceSize</key>
                <string>{238,185}</string>
                <key>textureRect</key>
                <string>{{1,705},{192,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{198,177}</string>
                <key>spriteSourceSize</key>
                <string>{238,185}</string>
                <key>textureRect</key>
                <string>{{1,353},{198,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{208,169}</string>
                <key>spriteSourceSize</key>
                <string>{238,185}</string>
                <key>textureRect</key>
                <string>{{1,182},{208,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,3}</string>
                <key>spriteSize</key>
                <string>{210,179}</string>
                <key>spriteSourceSize</key>
                <string>{238,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{186,169}</string>
                <key>spriteSourceSize</key>
                <string>{238,185}</string>
                <key>textureRect</key>
                <string>{{1,1216},{186,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{186,171}</string>
                <key>spriteSourceSize</key>
                <string>{238,185}</string>
                <key>textureRect</key>
                <string>{{1,870},{186,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{186,171}</string>
                <key>spriteSourceSize</key>
                <string>{238,185}</string>
                <key>textureRect</key>
                <string>{{1,1043},{186,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{192,171}</string>
                <key>spriteSourceSize</key>
                <string>{238,185}</string>
                <key>textureRect</key>
                <string>{{1,532},{192,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{189,1300},{54,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-47}</string>
                <key>spriteSize</key>
                <string>{54,18}</string>
                <key>spriteSourceSize</key>
                <string>{54,112}</string>
                <key>textureRect</key>
                <string>{{213,1},{54,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{54,106}</string>
                <key>spriteSourceSize</key>
                <string>{54,112}</string>
                <key>textureRect</key>
                <string>{{189,870},{54,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{54,106}</string>
                <key>spriteSourceSize</key>
                <string>{54,112}</string>
                <key>textureRect</key>
                <string>{{189,978},{54,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{54,106}</string>
                <key>spriteSourceSize</key>
                <string>{54,112}</string>
                <key>textureRect</key>
                <string>{{189,1086},{54,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{54,104}</string>
                <key>spriteSourceSize</key>
                <string>{54,112}</string>
                <key>textureRect</key>
                <string>{{189,1194},{54,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tuoxie.png</string>
            <key>size</key>
            <string>{244,1678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4da368b2513fdaccfcfbd0e5dce4958:d86815086ff45975cabf7b158493723a:25b5519fca1103dc944c9140ab2a369a$</string>
            <key>textureFileName</key>
            <string>tuoxie.png</string>
        </dict>
    </dict>
</plist>
