<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dz_num0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,125}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{1,329},{92,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dz_num0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-2}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{1,423},{78,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dz_num0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{188,435},{64,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dz_num0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{1,563},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{184,559},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dz_num0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{192,373},{60,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dz_num0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{51,563},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{101,563},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{201,269},{50,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dz_num0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,4}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{66,507},{54,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dz_num0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,6}</string>
                <key>spriteSize</key>
                <string>{56,61}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{184,501},{56,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dz_num0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,8}</string>
                <key>spriteSize</key>
                <string>{58,63}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{1,503},{58,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dz_num0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{78,55}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{82,450},{78,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{98,391},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{103,269},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{133,1},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{104,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{133,68},{104,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{1,195},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{104,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{133,68},{104,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{133,1},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{104,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{1,128},{104,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{104,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{107,135},{104,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{104,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{1,128},{104,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{133,1},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{133,1},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{102,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{105,202},{102,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{100,65}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{1,262},{100,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{92,59}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{98,330},{92,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_num0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-1}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{125,507},{54,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dz_num0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-2}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{130,125}</string>
                <key>textureRect</key>
                <string>{{201,321},{50,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zan.png</string>
            <key>size</key>
            <string>{255,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b59e8cf5c33d4359c20ee000ef1e999d:7973500628853793dcb410366cd32b82:88f583eb8e9cbc049e8e90b13a0c3b46$</string>
            <key>textureFileName</key>
            <string>zan.png</string>
        </dict>
    </dict>
</plist>
