<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>interactive_emo_brick_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{379,357},{96,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>interactive_emo_brick_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{86,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,82}</string>
                <key>textureRect</key>
                <string>{{405,91},{86,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>interactive_emo_brick_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{86,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,82}</string>
                <key>textureRect</key>
                <string>{{399,269},{86,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>interactive_emo_brick_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{88,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,82}</string>
                <key>textureRect</key>
                <string>{{405,1},{88,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>interactive_emo_brick_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,82}</string>
                <key>spriteSourceSize</key>
                <string>{88,82}</string>
                <key>textureRect</key>
                <string>{{399,179},{88,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>interactive_emo_brick_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,58}</string>
                <key>textureRect</key>
                <string>{{131,371},{70,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>interactive_emo_brick_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,58}</string>
                <key>textureRect</key>
                <string>{{131,443},{58,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>interactive_emo_brick_bia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{1,371},{128,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interactive_emo_brick_sui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{379,455},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interactive_emo_brick_yan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{210,202}</string>
                <key>spriteSourceSize</key>
                <string>{214,202}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interactive_emo_brick_yan_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-14}</string>
                <key>spriteSize</key>
                <string>{196,164}</string>
                <key>spriteSourceSize</key>
                <string>{214,202}</string>
                <key>textureRect</key>
                <string>{{1,205},{196,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interactive_emo_brick_yan_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-15}</string>
                <key>spriteSize</key>
                <string>{178,162}</string>
                <key>spriteSourceSize</key>
                <string>{214,202}</string>
                <key>textureRect</key>
                <string>{{199,337},{178,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interactive_emo_brick_yan_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-16}</string>
                <key>spriteSize</key>
                <string>{184,164}</string>
                <key>spriteSourceSize</key>
                <string>{214,202}</string>
                <key>textureRect</key>
                <string>{{213,171},{184,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interactive_emo_brick_yan_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-17}</string>
                <key>spriteSize</key>
                <string>{190,168}</string>
                <key>spriteSourceSize</key>
                <string>{214,202}</string>
                <key>textureRect</key>
                <string>{{213,1},{190,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhuan.png</string>
            <key>size</key>
            <string>{482,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeef02642f36acb226deb326909a6868:77b916bd18ef2b67ff8eb33e2743feeb:3afc1dfd911cfba69e3d3fd1a32e8db9$</string>
            <key>textureFileName</key>
            <string>zhuan.png</string>
        </dict>
    </dict>
</plist>
