<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daili_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,41}</string>
                <key>spriteSourceSize</key>
                <string>{202,41}</string>
                <key>textureRect</key>
                <string>{{0,0},{202,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dlsdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,336}</string>
                <key>spriteSourceSize</key>
                <string>{576,336}</string>
                <key>textureRect</key>
                <string>{{0,73},{576,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wxz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,73}</string>
                <key>spriteSourceSize</key>
                <string>{207,73}</string>
                <key>textureRect</key>
                <string>{{202,0},{207,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,73}</string>
                <key>spriteSourceSize</key>
                <string>{232,73}</string>
                <key>textureRect</key>
                <string>{{409,0},{232,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zbmyhdy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,542}</string>
                <key>spriteSourceSize</key>
                <string>{607,542}</string>
                <key>textureRect</key>
                <string>{{0,409},{607,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>czdl.png</string>
            <key>size</key>
            <string>{641,951}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddca4dbfe3d0b7e6cae5dd93cde8ed8b:3d619402726a51273a9c31d49bf602bb:39690d107919d53584d666b9207483a7$</string>
            <key>textureFileName</key>
            <string>czdl.png</string>
        </dict>
    </dict>
</plist>
