<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{147,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,200}}</string>
                <key>sourceSize</key>
                <string>{147,200}</string>
            </dict>
            <key>back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,302},{147,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,200}}</string>
                <key>sourceSize</key>
                <string>{147,200}</string>
            </dict>
            <key>card_back_hori.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,565},{124,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>card_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,697},{101,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,130}}</string>
                <key>sourceSize</key>
                <string>{101,130}</string>
            </dict>
            <key>card_back_peek.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,152},{148,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,200}}</string>
                <key>sourceSize</key>
                <string>{148,202}</string>
            </dict>
            <key>card_back_vert.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,410},{101,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,153}}</string>
                <key>sourceSize</key>
                <string>{101,153}</string>
            </dict>
            <key>card_back_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{148,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,200}}</string>
                <key>sourceSize</key>
                <string>{148,202}</string>
            </dict>
            <key>card_backgroud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{147,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,200}}</string>
                <key>sourceSize</key>
                <string>{147,200}</string>
            </dict>
            <key>card_big_ghost_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,600},{17,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,145}}</string>
                <key>sourceSize</key>
                <string>{17,145}</string>
            </dict>
            <key>card_big_ghost_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{120,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,178}}</string>
                <key>sourceSize</key>
                <string>{120,178}</string>
            </dict>
            <key>card_logo_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,800},{127,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,176}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>card_logo_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,702},{127,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,176}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>card_logo_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{127,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,176}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>card_logo_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,573},{127,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,177}}</string>
                <key>sourceSize</key>
                <string>{127,177}</string>
            </dict>
            <key>card_logo_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{127,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,177}}</string>
                <key>sourceSize</key>
                <string>{127,177}</string>
            </dict>
            <key>card_logo_r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{127,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,176}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>card_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,307},{103,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,101}</string>
            </dict>
            <key>card_mask_show_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,204}}</string>
                <key>sourceSize</key>
                <string>{151,204}</string>
            </dict>
            <key>card_num_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,921},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,34},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>card_num_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,277},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>card_num_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,126},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>card_num_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,978},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>card_num_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,978},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>card_num_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,876},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,215},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>card_num_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,156},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>card_num_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,831},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,978},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>card_num_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,154},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>card_num_lz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,978},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_lz10.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>card_num_lz11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,247},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>card_num_lz12.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,94},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>card_num_lz13.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,978},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_lz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,276},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>card_num_lz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,978},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>card_num_lz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,978},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_lz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,186},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>card_num_lz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,124},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>card_num_lz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,978},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_lz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,978},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>card_num_lz9.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,96},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>card_num_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,978},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>card_num_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,217},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>card_num_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,34},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>card_num_r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,978},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,246},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>card_num_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,978},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>card_num_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,978},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,184},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>card_num_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,66},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>card_num_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,978},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>card_num_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,978},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>card_num_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,64},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>card_small_ghost_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,453},{17,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,145}}</string>
                <key>sourceSize</key>
                <string>{17,145}</string>
            </dict>
            <key>card_small_ghost_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,451},{120,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,178}}</string>
                <key>sourceSize</key>
                <string>{120,178}</string>
            </dict>
            <key>card_type_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,831},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>card_type_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,903},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>card_type_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,939},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>card_type_lz.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,903},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>card_type_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,867},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_card.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3097fb2598a17f7cb68542a51ab12883$</string>
            <key>textureFileName</key>
            <string>ddz_card.png</string>
        </dict>
    </dict>
</plist>
