<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11O.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,99}</string>
                <key>textureRect</key>
                <string>{{1418,1809},{84,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,70}</string>
                <key>spriteSourceSize</key>
                <string>{204,70}</string>
                <key>textureRect</key>
                <string>{{787,1839},{204,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{1539,660},{180,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,58}</string>
                <key>spriteSourceSize</key>
                <string>{147,58}</string>
                <key>textureRect</key>
                <string>{{1142,1851},{147,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,58}</string>
                <key>spriteSourceSize</key>
                <string>{147,58}</string>
                <key>textureRect</key>
                <string>{{1124,1985},{147,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z_money_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,27}</string>
                <key>spriteSourceSize</key>
                <string>{86,27}</string>
                <key>textureRect</key>
                <string>{{1576,1018},{86,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z_nobody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{49,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1283,660},{49,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z_offline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,37}</string>
                <key>spriteSourceSize</key>
                <string>{62,37}</string>
                <key>textureRect</key>
                <string>{{1555,1901},{62,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z_power.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,31}</string>
                <key>spriteSourceSize</key>
                <string>{56,31}</string>
                <key>textureRect</key>
                <string>{{1591,1585},{56,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,53}</string>
                <key>spriteSourceSize</key>
                <string>{222,53}</string>
                <key>textureRect</key>
                <string>{{1318,1572},{222,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_jiabei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{264,103}</string>
                <key>spriteSourceSize</key>
                <string>{298,117}</string>
                <key>textureRect</key>
                <string>{{886,1484},{264,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buchu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{1,1943},{260,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bujia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{263,103}</string>
                <key>spriteSourceSize</key>
                <string>{283,123}</string>
                <key>textureRect</key>
                <string>{{1263,879},{263,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bujiabei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{151,51}</string>
                <key>spriteSourceSize</key>
                <string>{171,65}</string>
                <key>textureRect</key>
                <string>{{1472,1389},{151,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bujiabeiniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{152,69}</string>
                <key>spriteSourceSize</key>
                <string>{154,79}</string>
                <key>textureRect</key>
                <string>{{570,1789},{152,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bujiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{263,1943},{260,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bujiaox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{110,56}</string>
                <key>textureRect</key>
                <string>{{1318,1796},{98,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buqiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{525,1943},{260,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buqiangx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{102,54}</string>
                <key>textureRect</key>
                <string>{{1574,1287},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>burang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{1472,1127},{260,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chongzhianniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,210}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{570,1577},{206,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{778,1577},{260,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_room_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{1334,154}</string>
                <key>spriteSourceSize</key>
                <string>{1376,196}</string>
                <key>textureRect</key>
                <string>{{1,723},{1334,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{42,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{743,1839},{42,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhumao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,126}</string>
                <key>spriteSourceSize</key>
                <string>{100,126}</string>
                <key>textureRect</key>
                <string>{{641,1789},{100,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erfen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{263,102}</string>
                <key>spriteSourceSize</key>
                <string>{295,126}</string>
                <key>textureRect</key>
                <string>{{1368,862},{263,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ewm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1337,660},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangjiankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{134,83}</string>
                <key>spriteSourceSize</key>
                <string>{160,107}</string>
                <key>textureRect</key>
                <string>{{1428,1724},{134,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmer_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{78,65}</string>
                <key>spriteSourceSize</key>
                <string>{78,69}</string>
                <key>textureRect</key>
                <string>{{1475,1901},{78,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_bg_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1399,1895},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{626,44}</string>
                <key>spriteSourceSize</key>
                <string>{626,44}</string>
                <key>textureRect</key>
                <string>{{569,1438},{626,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanzhuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,58}</string>
                <key>spriteSourceSize</key>
                <string>{147,58}</string>
                <key>textureRect</key>
                <string>{{1273,1985},{147,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiabei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{99,50}</string>
                <key>spriteSourceSize</key>
                <string>{117,62}</string>
                <key>textureRect</key>
                <string>{{1152,1484},{99,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiabei_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,50}</string>
                <key>textureRect</key>
                <string>{{1515,1809},{90,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiabeiniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{153,70}</string>
                <key>spriteSourceSize</key>
                <string>{173,76}</string>
                <key>textureRect</key>
                <string>{{1467,1442},{153,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaodizhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{880,1589},{260,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaodz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{158,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,86}</string>
                <key>textureRect</key>
                <string>{{1574,1127},{158,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiesuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,557}</string>
                <key>spriteSourceSize</key>
                <string>{692,557}</string>
                <key>textureRect</key>
                <string>{{569,879},{692,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jsbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,328}</string>
                <key>spriteSourceSize</key>
                <string>{657,328}</string>
                <key>textureRect</key>
                <string>{{1283,1},{657,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lianxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,340}</string>
                <key>spriteSourceSize</key>
                <string>{567,340}</string>
                <key>textureRect</key>
                <string>{{1,1601},{567,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lord_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{78,69}</string>
                <key>textureRect</key>
                <string>{{1422,1971},{70,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu_ai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,73}</string>
                <key>spriteSourceSize</key>
                <string>{161,73}</string>
                <key>textureRect</key>
                <string>{{1264,1409},{161,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu_dissv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,73}</string>
                <key>spriteSourceSize</key>
                <string>{161,73}</string>
                <key>textureRect</key>
                <string>{{1339,1409},{161,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,73}</string>
                <key>spriteSourceSize</key>
                <string>{161,73}</string>
                <key>textureRect</key>
                <string>{{1428,1585},{161,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingpai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{153,69}</string>
                <key>spriteSourceSize</key>
                <string>{163,79}</string>
                <key>textureRect</key>
                <string>{{1467,1514},{153,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_frame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{357,0}</string>
                <key>spriteSize</key>
                <string>{566,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,879},{566,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_split_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,2}</string>
                <key>spriteSourceSize</key>
                <string>{136,2}</string>
                <key>textureRect</key>
                <string>{{1622,1442},{136,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>no_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,39}</string>
                <key>spriteSourceSize</key>
                <string>{77,39}</string>
                <key>textureRect</key>
                <string>{{1564,1724},{77,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nongmin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,82}</string>
                <key>spriteSourceSize</key>
                <string>{60,92}</string>
                <key>textureRect</key>
                <string>{{1355,1901},{42,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paishu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{79,51}</string>
                <key>spriteSourceSize</key>
                <string>{91,65}</string>
                <key>textureRect</key>
                <string>{{1291,1848},{79,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pengyouquanfenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{232,72}</string>
                <key>spriteSourceSize</key>
                <string>{256,92}</string>
                <key>textureRect</key>
                <string>{{1121,1911},{232,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>powerG.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,17}</string>
                <key>spriteSourceSize</key>
                <string>{34,17}</string>
                <key>textureRect</key>
                <string>{{1575,2026},{34,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiangdizhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{880,1691},{260,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiangdizhux.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{154,51}</string>
                <key>spriteSourceSize</key>
                <string>{184,75}</string>
                <key>textureRect</key>
                <string>{{1414,1392},{154,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{263,103}</string>
                <key>spriteSourceSize</key>
                <string>{289,123}</string>
                <key>textureRect</key>
                <string>{{1263,1144},{263,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{880,1793},{260,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{1142,1589},{260,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{164,62}</string>
                <key>spriteSourceSize</key>
                <string>{168,62}</string>
                <key>textureRect</key>
                <string>{{1428,1660},{164,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,50}</string>
                <key>spriteSourceSize</key>
                <string>{134,56}</string>
                <key>textureRect</key>
                <string>{{1567,1803},{92,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,53}</string>
                <key>spriteSourceSize</key>
                <string>{222,53}</string>
                <key>textureRect</key>
                <string>{{1373,1572},{222,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sanfen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{263,102}</string>
                <key>spriteSourceSize</key>
                <string>{295,126}</string>
                <key>textureRect</key>
                <string>{{1368,1127},{263,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>score1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{59,39}</string>
                <key>spriteSourceSize</key>
                <string>{77,39}</string>
                <key>textureRect</key>
                <string>{{1575,1965},{59,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>score2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{77,39}</string>
                <key>textureRect</key>
                <string>{{1534,1968},{65,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>score3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{67,39}</string>
                <key>spriteSourceSize</key>
                <string>{77,39}</string>
                <key>textureRect</key>
                <string>{{1493,1968},{67,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shangkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{315,91}</string>
                <key>spriteSourceSize</key>
                <string>{349,115}</string>
                <key>textureRect</key>
                <string>{{569,1484},{315,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{859,1895},{260,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,4}</string>
                <key>spriteSize</key>
                <string>{4,3}</string>
                <key>spriteSourceSize</key>
                <string>{196,71}</string>
                <key>textureRect</key>
                <string>{{1467,1392},{4,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>toumingkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{147,43}</string>
                <key>spriteSourceSize</key>
                <string>{165,47}</string>
                <key>textureRect</key>
                <string>{{859,1997},{147,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinhao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{48,42}</string>
                <key>textureRect</key>
                <string>{{1576,842},{48,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinhao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{48,42}</string>
                <key>textureRect</key>
                <string>{{1576,886},{48,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinhao3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{48,42}</string>
                <key>textureRect</key>
                <string>{{1576,930},{48,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinhao4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{48,42}</string>
                <key>textureRect</key>
                <string>{{1576,974},{48,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuanpaizhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,36}</string>
                <key>spriteSourceSize</key>
                <string>{114,36}</string>
                <key>textureRect</key>
                <string>{{1008,1997},{114,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{263,102}</string>
                <key>spriteSourceSize</key>
                <string>{295,126}</string>
                <key>textureRect</key>
                <string>{{1472,862},{263,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanjifenxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{232,72}</string>
                <key>spriteSourceSize</key>
                <string>{250,82}</string>
                <key>textureRect</key>
                <string>{{1244,1587},{232,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhunbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,58}</string>
                <key>spriteSourceSize</key>
                <string>{147,58}</string>
                <key>textureRect</key>
                <string>{{1204,1438},{147,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>doudizhu.png</string>
            <key>size</key>
            <string>{1625,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4464f4737a4debfc118da0bec1755110:10ec29ba8d36215c6db2ab3618607979:ee91d674d5ce93724a053250574cd6b4$</string>
            <key>textureFileName</key>
            <string>doudizhu.png</string>
        </dict>
    </dict>
</plist>
