<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{810,172}</string>
                <key>spriteSourceSize</key>
                <string>{810,172}</string>
                <key>textureRect</key>
                <string>{{803,1350},{810,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-396,164}</string>
                <key>spriteSize</key>
                <string>{170,36}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1404,1879},{170,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-397,49}</string>
                <key>spriteSize</key>
                <string>{168,34}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1686,1350},{168,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,95}</string>
                <key>spriteSourceSize</key>
                <string>{766,95}</string>
                <key>textureRect</key>
                <string>{{803,1524},{766,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,353}</string>
                <key>spriteSourceSize</key>
                <string>{594,353}</string>
                <key>textureRect</key>
                <string>{{1283,1},{594,353}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ traveler.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,137}</string>
                <key>spriteSourceSize</key>
                <string>{397,137}</string>
                <key>textureRect</key>
                <string>{{803,1734},{395,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,100}</string>
                <key>spriteSourceSize</key>
                <string>{199,100}</string>
                <key>textureRect</key>
                <string>{{1200,1734},{199,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,100}</string>
                <key>spriteSourceSize</key>
                <string>{237,100}</string>
                <key>textureRect</key>
                <string>{{1283,597},{237,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,47}</string>
                <key>spriteSourceSize</key>
                <string>{397,47}</string>
                <key>textureRect</key>
                <string>{{1638,1},{397,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>checkbox_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,-101}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1571,1524},{48,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>checkbox_void.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1573,1822},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cr_check_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1573,1822},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cr_unused.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1664,1733},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,41}</string>
                <key>spriteSourceSize</key>
                <string>{160,41}</string>
                <key>textureRect</key>
                <string>{{1722,1283},{160,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>createroom_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{803,1315},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{799,625}</string>
                <key>spriteSourceSize</key>
                <string>{799,625}</string>
                <key>textureRect</key>
                <string>{{895,723},{799,625}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,47}</string>
                <key>spriteSourceSize</key>
                <string>{273,47}</string>
                <key>textureRect</key>
                <string>{{1638,400},{273,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{84,41}</string>
                <key>spriteSourceSize</key>
                <string>{160,41}</string>
                <key>textureRect</key>
                <string>{{1722,1445},{84,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>history_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,41}</string>
                <key>spriteSourceSize</key>
                <string>{160,41}</string>
                <key>textureRect</key>
                <string>{{1664,1571},{160,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hpnc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,47}</string>
                <key>spriteSourceSize</key>
                <string>{122,47}</string>
                <key>textureRect</key>
                <string>{{1053,1873},{122,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{101,42}</string>
                <key>spriteSourceSize</key>
                <string>{119,62}</string>
                <key>textureRect</key>
                <string>{{1522,597},{101,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joinbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,626}</string>
                <key>spriteSourceSize</key>
                <string>{800,626}</string>
                <key>textureRect</key>
                <string>{{1,1315},{800,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{892,590}</string>
                <key>spriteSourceSize</key>
                <string>{914,626}</string>
                <key>textureRect</key>
                <string>{{1,723},{892,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lijidenglu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{219,69}</string>
                <key>spriteSourceSize</key>
                <string>{923,101}</string>
                <key>textureRect</key>
                <string>{{1615,1350},{219,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qued.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{202,57}</string>
                <key>spriteSourceSize</key>
                <string>{216,75}</string>
                <key>textureRect</key>
                <string>{{1401,1763},{202,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{202,57}</string>
                <key>spriteSourceSize</key>
                <string>{220,67}</string>
                <key>textureRect</key>
                <string>{{1200,1836},{202,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuaxin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{101,42}</string>
                <key>spriteSourceSize</key>
                <string>{117,62}</string>
                <key>textureRect</key>
                <string>{{1522,641},{101,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titlebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,92}</string>
                <key>spriteSourceSize</key>
                <string>{1280,92}</string>
                <key>textureRect</key>
                <string>{{1696,1},{1280,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weixindenglu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{316,-1}</string>
                <key>spriteSize</key>
                <string>{219,69}</string>
                <key>spriteSourceSize</key>
                <string>{923,101}</string>
                <key>textureRect</key>
                <string>{{1399,1621},{219,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitebackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,111}</string>
                <key>spriteSourceSize</key>
                <string>{594,111}</string>
                <key>textureRect</key>
                <string>{{803,1621},{594,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,40}</string>
                <key>spriteSourceSize</key>
                <string>{98,40}</string>
                <key>textureRect</key>
                <string>{{1622,1674},{98,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yaoqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{101,42}</string>
                <key>spriteSourceSize</key>
                <string>{119,62}</string>
                <key>textureRect</key>
                <string>{{1620,1571},{101,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yijian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,68}</string>
                <key>spriteSourceSize</key>
                <string>{248,68}</string>
                <key>textureRect</key>
                <string>{{803,1873},{248,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_fuxuan_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1343,1895},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_fuxuan_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1571,1574},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghaozhuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-322,0}</string>
                <key>spriteSize</key>
                <string>{219,69}</string>
                <key>spriteSourceSize</key>
                <string>{923,101}</string>
                <key>textureRect</key>
                <string>{{1401,1692},{219,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{766,95}</string>
                <key>spriteSourceSize</key>
                <string>{766,95}</string>
                <key>textureRect</key>
                <string>{{803,1524},{766,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsfk_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{164,45}</string>
                <key>spriteSourceSize</key>
                <string>{202,57}</string>
                <key>textureRect</key>
                <string>{{1177,1895},{164,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zshy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,55}</string>
                <key>spriteSourceSize</key>
                <string>{167,55}</string>
                <key>textureRect</key>
                <string>{{1404,1822},{167,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall2.png</string>
            <key>size</key>
            <string>{1789,1942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7df228fb1273e2fd8eb6a541f5dd0afa:6b098d000a86f284da8dd75d309a8015:a912d9ce5f708e4311a8b0fd81394919$</string>
            <key>textureFileName</key>
            <string>hall2.png</string>
        </dict>
    </dict>
</plist>
