<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grbd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{121,15}</string>
                <key>spriteSize</key>
                <string>{104,28}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1296}</string>
                <key>textureRect</key>
                <string>{{771,671},{104,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gzgzhsjb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-367,-8}</string>
                <key>spriteSize</key>
                <string>{198,28}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{819,1},{198,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hdjs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{121,278}</string>
                <key>spriteSize</key>
                <string>{718,312}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1296}</string>
                <key>textureRect</key>
                <string>{{1,1},{718,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hdjsbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{716,309}</string>
                <key>spriteSourceSize</key>
                <string>{716,309}</string>
                <key>textureRect</key>
                <string>{{1,315},{716,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{717,1}</string>
                <key>spriteSourceSize</key>
                <string>{717,1}</string>
                <key>textureRect</key>
                <string>{{1,705},{717,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>j_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{789,301},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jfcb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-366,-90}</string>
                <key>spriteSize</key>
                <string>{100,28}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{849,1},{100,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiangli_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,50}</string>
                <key>spriteSourceSize</key>
                <string>{144,50}</string>
                <key>textureRect</key>
                <string>{{719,473},{144,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiangli_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,50}</string>
                <key>spriteSourceSize</key>
                <string>{144,50}</string>
                <key>textureRect</key>
                <string>{{737,619},{144,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>julijiezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,155}</string>
                <key>spriteSize</key>
                <string>{470,66}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{721,1},{470,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ksts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{412,-456}</string>
                <key>spriteSize</key>
                <string>{114,24}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1296}</string>
                <key>textureRect</key>
                <string>{{859,369},{114,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lbdh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-366,157}</string>
                <key>spriteSize</key>
                <string>{100,28}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{859,267},{100,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lbllingqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,83}</string>
                <key>spriteSize</key>
                <string>{108,26}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1296}</string>
                <key>textureRect</key>
                <string>{{789,191},{108,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maohao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,27}</string>
                <key>spriteSourceSize</key>
                <string>{13,27}</string>
                <key>textureRect</key>
                <string>{{737,671},{13,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>my_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,77}</string>
                <key>spriteSourceSize</key>
                <string>{734,77}</string>
                <key>textureRect</key>
                <string>{{1,626},{734,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paihangbang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{819,544},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,49}</string>
                <key>spriteSourceSize</key>
                <string>{1,49}</string>
                <key>textureRect</key>
                <string>{{720,705},{1,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>t_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{817,201},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,63}</string>
                <key>spriteSourceSize</key>
                <string>{57,63}</string>
                <key>textureRect</key>
                <string>{{819,485},{57,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tsbd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,46}</string>
                <key>spriteSourceSize</key>
                <string>{129,46}</string>
                <key>textureRect</key>
                <string>{{771,473},{129,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{849,103},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{789,367},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zbugsl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-367,74}</string>
                <key>spriteSize</key>
                <string>{188,28}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{789,1},{188,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jfcb.png</string>
            <key>size</key>
            <string>{888,707}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50dd9f1b8c21b9a515164b151a5a44c8:495ec95afb945923288bc7f49cca2a41:59ceac2641b131e95ff14449b1d7824e$</string>
            <key>textureFileName</key>
            <string>jfcb.png</string>
        </dict>
    </dict>
</plist>
