<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,77}</string>
                <key>spriteSourceSize</key>
                <string>{191,77}</string>
                <key>textureRect</key>
                <string>{{1,174},{191,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,82}</string>
                <key>spriteSourceSize</key>
                <string>{187,82}</string>
                <key>textureRect</key>
                <string>{{583,1},{187,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,83}</string>
                <key>spriteSourceSize</key>
                <string>{185,83}</string>
                <key>textureRect</key>
                <string>{{194,162},{185,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,83}</string>
                <key>spriteSourceSize</key>
                <string>{190,83}</string>
                <key>textureRect</key>
                <string>{{1,89},{190,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,77}</string>
                <key>spriteSourceSize</key>
                <string>{185,77}</string>
                <key>textureRect</key>
                <string>{{569,164},{185,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,86}</string>
                <key>spriteSourceSize</key>
                <string>{193,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,80}</string>
                <key>spriteSourceSize</key>
                <string>{190,80}</string>
                <key>textureRect</key>
                <string>{{391,1},{190,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,80}</string>
                <key>spriteSourceSize</key>
                <string>{193,80}</string>
                <key>textureRect</key>
                <string>{{196,1},{193,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,77}</string>
                <key>spriteSourceSize</key>
                <string>{186,77}</string>
                <key>textureRect</key>
                <string>{{381,162},{186,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,77}</string>
                <key>spriteSourceSize</key>
                <string>{188,77}</string>
                <key>textureRect</key>
                <string>{{579,85},{188,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,77}</string>
                <key>spriteSourceSize</key>
                <string>{189,77}</string>
                <key>textureRect</key>
                <string>{{388,83},{189,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangjianhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{87,30}</string>
                <key>spriteSourceSize</key>
                <string>{103,64}</string>
                <key>textureRect</key>
                <string>{{756,164},{87,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>join_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,41}</string>
                <key>spriteSourceSize</key>
                <string>{160,41}</string>
                <key>textureRect</key>
                <string>{{788,88},{160,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuzikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{92,85}</string>
                <key>spriteSourceSize</key>
                <string>{112,109}</string>
                <key>textureRect</key>
                <string>{{772,1},{92,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,77}</string>
                <key>spriteSourceSize</key>
                <string>{190,77}</string>
                <key>textureRect</key>
                <string>{{196,83},{190,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>join.png</string>
            <key>size</key>
            <string>{865,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75f814f1e2a0968ad489c166fd81e4c4:7b6482b935544b962741b94a1f4a6973:0018b9c282e2ac91477878952033e190$</string>
            <key>textureFileName</key>
            <string>join.png</string>
        </dict>
    </dict>
</plist>
