<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_qryzm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,42}</string>
                <key>spriteSourceSize</key>
                <string>{134,42}</string>
                <key>textureRect</key>
                <string>{{617,1},{134,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_qrzc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,55}</string>
                <key>spriteSourceSize</key>
                <string>{167,55}</string>
                <key>textureRect</key>
                <string>{{448,1},{167,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duihao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{680,45},{26,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duihaobg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{650,45},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,73}</string>
                <key>spriteSourceSize</key>
                <string>{445,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{445,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>password.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{706,45},{24,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>regist_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,41}</string>
                <key>spriteSourceSize</key>
                <string>{160,41}</string>
                <key>textureRect</key>
                <string>{{753,1},{160,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,41}</string>
                <key>spriteSourceSize</key>
                <string>{2,41}</string>
                <key>textureRect</key>
                <string>{{448,58},{2,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>username.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{617,45},{29,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yzm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{738,45},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>regist.png</string>
            <key>size</key>
            <string>{914,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:639c62d2c43b149fdd461ccf948a1eb9:bc5e6a12495322b645646f5150437a76:51705900751030d07fab5e6ba8c064c6$</string>
            <key>textureFileName</key>
            <string>regist.png</string>
        </dict>
    </dict>
</plist>
