<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{62,65}</string>
                <key>spriteSourceSize</key>
                <string>{88,117}</string>
                <key>textureRect</key>
                <string>{{1049,174},{62,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dk_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,174}</string>
                <key>spriteSourceSize</key>
                <string>{1000,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,60}</string>
                <key>spriteSourceSize</key>
                <string>{119,60}</string>
                <key>textureRect</key>
                <string>{{1046,1},{119,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuaxin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,50}</string>
                <key>spriteSourceSize</key>
                <string>{104,50}</string>
                <key>textureRect</key>
                <string>{{1046,122},{104,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,33}</string>
                <key>spriteSourceSize</key>
                <string>{107,33}</string>
                <key>textureRect</key>
                <string>{{1152,122},{107,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wdfjd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1046,77}</string>
                <key>spriteSourceSize</key>
                <string>{1046,77}</string>
                <key>textureRect</key>
                <string>{{1,177},{1046,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yaoqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,60}</string>
                <key>spriteSourceSize</key>
                <string>{119,60}</string>
                <key>textureRect</key>
                <string>{{1108,1},{119,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yikai_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,41}</string>
                <key>spriteSourceSize</key>
                <string>{160,41}</string>
                <key>textureRect</key>
                <string>{{1003,1},{160,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roomwindow.png</string>
            <key>size</key>
            <string>{1186,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dbd036a319081a4fb5ac20226ddffd6:e83c74f6909eab6f22fde19eac0424a5:a97ebb914d9ce3072925f26d7535337d$</string>
            <key>textureFileName</key>
            <string>roomwindow.png</string>
        </dict>
    </dict>
</plist>
