<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuanpan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,87}</string>
                <key>spriteSourceSize</key>
                <string>{118,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{118,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,87}</string>
                <key>spriteSourceSize</key>
                <string>{118,87}</string>
                <key>textureRect</key>
                <string>{{0,783},{118,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,87}</string>
                <key>spriteSourceSize</key>
                <string>{118,87}</string>
                <key>textureRect</key>
                <string>{{0,87},{118,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,87}</string>
                <key>spriteSourceSize</key>
                <string>{118,87}</string>
                <key>textureRect</key>
                <string>{{0,174},{118,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,87}</string>
                <key>spriteSourceSize</key>
                <string>{118,87}</string>
                <key>textureRect</key>
                <string>{{0,261},{118,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,87}</string>
                <key>spriteSourceSize</key>
                <string>{118,87}</string>
                <key>textureRect</key>
                <string>{{0,348},{118,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,87}</string>
                <key>spriteSourceSize</key>
                <string>{118,87}</string>
                <key>textureRect</key>
                <string>{{0,435},{118,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,87}</string>
                <key>spriteSourceSize</key>
                <string>{118,87}</string>
                <key>textureRect</key>
                <string>{{0,522},{118,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,87}</string>
                <key>spriteSourceSize</key>
                <string>{118,87}</string>
                <key>textureRect</key>
                <string>{{0,609},{118,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,87}</string>
                <key>spriteSourceSize</key>
                <string>{118,87}</string>
                <key>textureRect</key>
                <string>{{0,696},{118,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhuanpan.png</string>
            <key>size</key>
            <string>{118,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e3886c05dde197cb19a5da46c4e7b16:06dacabec39dba59c025a575cf558930:0a870e22df63e17930c76a15049f1cba$</string>
            <key>textureFileName</key>
            <string>zhuanpan.png</string>
        </dict>
    </dict>
</plist>
