<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bbxiak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{588,234}</string>
                <key>spriteSourceSize</key>
                <string>{618,260}</string>
                <key>textureRect</key>
                <string>{{1303,646},{588,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beibaobj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{657,722}</string>
                <key>spriteSourceSize</key>
                <string>{667,722}</string>
                <key>textureRect</key>
                <string>{{1,1},{657,722}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beibaokuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{643,639}</string>
                <key>spriteSourceSize</key>
                <string>{653,663}</string>
                <key>textureRect</key>
                <string>{{1303,1},{643,639}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>changtiaok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{111,38}</string>
                <key>spriteSourceSize</key>
                <string>{117,46}</string>
                <key>textureRect</key>
                <string>{{37,867},{111,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chaoxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{49,21}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{99,783},{49,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duihao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{39,34}</string>
                <key>spriteSourceSize</key>
                <string>{51,46}</string>
                <key>textureRect</key>
                <string>{{1,867},{39,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{589,3}</string>
                <key>spriteSourceSize</key>
                <string>{607,21}</string>
                <key>textureRect</key>
                <string>{{99,834},{589,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goumaijilu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,47}</string>
                <key>spriteSourceSize</key>
                <string>{150,59}</string>
                <key>textureRect</key>
                <string>{{1,725},{140,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goumaijilubg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{641,720}</string>
                <key>spriteSourceSize</key>
                <string>{653,720}</string>
                <key>textureRect</key>
                <string>{{660,1},{641,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hjiahao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{55,62}</string>
                <key>textureRect</key>
                <string>{{151,725},{45,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hjianhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{57,65}</string>
                <key>textureRect</key>
                <string>{{122,783},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiahao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,50}</string>
                <key>textureRect</key>
                <string>{{169,772},{43,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jianhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{197,725},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jijif.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{99,725},{56,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{241,725},{35,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tijiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,47}</string>
                <key>spriteSourceSize</key>
                <string>{148,69}</string>
                <key>textureRect</key>
                <string>{{50,725},{140,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wupinkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{690,723},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,56}</string>
                <key>textureRect</key>
                <string>{{213,769},{37,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beibao.png</string>
            <key>size</key>
            <string>{1943,907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dfa99221310e83d169b2f851b0c7d77:7f7feb7f4173ac1ed2e1cf6710c995ec:004862813c8c351efca9848008353dbf$</string>
            <key>textureFileName</key>
            <string>beibao.png</string>
        </dict>
    </dict>
</plist>
